<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <% if (messages.length > 0) { %>
    <ul>
      <% messages.forEach((message, index) => { %>
        <li>
          <%= message.text %> (User: <%= message.user %>) - 
          <%= message.added.toLocaleString() %>
          <a href="/message/<%= index %>">Open</a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No messages yet.</p>
  <% } %>
  <a href="/new">Add a new message</a>
</body>
</html>
